{ "_nocsoc": { "requiresPoller": true, "active": true }, "name": "P ([[ site_id ]])",
  "nodes": [ { "id":"t","name":"T","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"parameters":{} } ],
  "connections": {}, "settings": {} }
